
@{
    ViewData["Title"] = "Timeout";
}

<h3 class="text-center">Your time for adding questions has expired, use EDIT button to reset the timer</h3>
<div class="text-center">
    <a class="btn btn-primary" asp-controller="Quizzes" asp-action="Index">Back to list</a>
</div>

